@import url('https://fonts.googleapis.com/css?family=Nabla');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@400;500&display=swap');

.bg-image {
    background-image: url(../Ressources/Images/background_combined.png);
    height: 100vh;
}

.titleCasino{
    font-family: 'Nabla', serif;
    font-size: 5rem !important;
    padding-top: 40px;
}


h3, p {
    font-family: 'Roboto', serif;
    font-weight: bold;
    color: #fff6bd;
}

p{
    font-size: 1.4rem;
}

.colProfile{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 30%;
}

.value{
    margin-left: 10px;
}

.picture{
    position: absolute;
    bottom: 0;
    right: 0;
}

.yourProfile{
    display: flex;
    margin-top: 20px;
    margin-left: 10%;
    font-size: 2rem;
}

@media screen and (max-width: 1200px){
    .picture{
        width: 15rem;
    }
}